* {
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
}

/*I used border box, tho Im not sure what it really does
various font families
and the standart font size to use rems*/


header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    background-color: #13293d;
    color: #fff;
  }
  
  .header h1 {
    font-size: 1.5rem;
    background-color: rgb(65, 164, 231);
    color: #13293d;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1rem;
  }
  
  nav a {
    color: rgb(65, 164, 231);
    font-weight: bold;
    text-decoration: underline;
    margin-right: 10px;
  }
  
  nav a:hover {
    color: #fff;
  }

  .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

 
.image-banner{
    position: relative;
    width: 100%;
    max-height: 400px;
    top: 10px;
}
 
.image-banner img{
    width: 100%;
    margin: none;
    padding: none;
    max-height: 400px;
}
 
#cool-text{
    position: absolute;
    top: 50%;
    left: 90%;
    color: #13293d;
    background-color: rgb(65, 164, 231);
    font-size: 1rem;
}

/* I gave the header flex and column to put the image right under the nav section, the nav section is also flexed and with space. I used margin to space the list items because just as I am writing this lines I realizaed I could've used gap, but anyways it works

the image is pretty big and magestic, so I had to constrain it, like my desire to sleep right now.

I used relatve position and absolute to the parent image and the text "too angry to die" so that I could put it inside the image and gave it specific movement to the right.


*/





body {
    background-color: rgb(170, 179, 187);
}

/*this is the about me section, this is where the fun starts

I used flex row to all of the sections to put them right next to each other, I mean for example the h2 and the p in horizontal mode.

I used only the right border on the h2 in all sections to make the line like the sample image

I really don't know if this is what you wanted, but if not, please advice, because I really wanted to cry.





*/

.about-me{
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    align-items: center;
}

.about-me h2{
    margin-left: 10%;
    padding: 1%;
    border: solid 0.3em transparent;
    border-right-color:#13293d;
    border-radius: 0px;
    text-align: end;
    font-size: 2rem;
}


.about-me p{
    margin-left: 50px;
    padding: 1%;
    text-align: justify;
}



/*this is the image section

I created like a million classes in this section, to do what i did in the last section, but now instead of a p element, I added 5 images.

The images are within a div with flex and row. I made the first image larger than the other 4, as close to the mock up image.

There is a div to every image, in order to put some text inside a box in the middle of them.

The images have diffenrent hover effect, for example the first has a blur, but when you hover it it eliminates the blur. The other images have a zoom with overflow: hidden in the container. If you zoom just right, you can see my tears, because this section was very difficult.

I did not made the images responsive, because they made some weird things as I downsized my browser and with it my hopes, so I put a @media query at the end, which I really think it gives more control.

The cool lines are just like the ones in the "too angry to die", just located them diffenrently within the image.



*/

.work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;;
}

.work h2{
    margin-left: 11%;
    padding: 1%;
    border: solid 0.3em transparent;
    border-right-color:#13293d;
    border-radius: 0px;
    text-align: end;
    font-size: 2rem;
}

.work-images{
    width: 70%;
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    column-gap: 10px;
    flex-wrap: wrap;
    padding: 1%;
    justify-content:flex-start;

    
}

.container {
    position: relative;
    overflow: hidden;
}


.big-image {
    width:  810px;
    padding: 0%;
    border: solid 3px;
    border-color: rgb(65, 164, 231);
    filter: blur(3px);
}

.small-image {
    width:  400px;
    height: 300px;
    padding: 0%;
    border: solid 3px;
    border-color: rgb(65, 164, 231);

}

#cool-line-zero{
    position: absolute;
    color: #13293d;
    background-color: rgb(65, 164, 231);
    font-size: 1rem;
    width: fit-content;
    top: 60%;
    left: -11%;
    
}

#cool-line{
    position: absolute;
    color: #13293d;
    background-color: rgb(65, 164, 231);
    font-size: 1rem;
    width: fit-content;
    top: 60%;
    left: -11%;
    
}


/*This is the hoover for the image section, like i said i used blur efects an zoom efects */

.big-image:hover{
    border-color: rgb(199, 6, 6);
    filter: blur(0px);
}

.small-image:hover{
    border-color: rgb(199, 6, 6);
    transform: scale(1.5);
}





/*this is the contact me section, this is much like the header, so i think it does not need any more explanation*/

.contact-me{
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    align-items: center;
}

.contact-me h2{
    margin-left: 7%;
    padding: 1%;
    border: solid 0.3em transparent;
    border-right-color:#13293d;
    border-radius: 0px;
    text-align: end;
    font-size: 2rem;
}


.contact-me ul{
    margin-left: 50px;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
}

.contact-me a{
   margin: 10px;
   padding: 1%;
   color:#13293d;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 10px;
    font-size: 1.3rem;
    width: 100%;
}


/*Media queries for ipad mini, because I have one hahaha, seems like a good parameter*/


@media screen and (max-width: 900px) {



.about-me h2 {
    font-size: 1rem;
    
}

.work h2 {
    font-size: 1rem;
}

.contact-me h2 {
    font-size: 1rem;
    margin-left: 8%;
}

    .big-image {
        width:  400px;
        height: 300px;
    }

        
        .big-image {
            width:  270px;
            height: 150px;}
        .small-image {
                width:  270px;
                height: 150px;
        }

    .contact-me a{
        font-size: .8rem;
    }    
     
    }

   /*media queries for iphone 12 pro: This seemed like a good idea, but Im starting to realize that there are a lot of screen sizes, so I was wondering if poeple actually make media queries for every size*/ 

   @media screen and (max-width: 390px) {

.header h1{
    font-size: 1rem;
}

.header a{
    font-size: .5rem;
}

#cool-text{
    font-size: .5rem;
    left: 80%;
}

    .about-me h2 {
        font-size: .8rem;
        margin: 3%;
        
    }

    .about-me p {
        font-size: .8rem;
        
    }
    
    
    .work h2 {
        font-size: .8rem;
        margin: 5%;
    }
    
    .contact-me h2 {
        font-size: .8rem;
        margin: 1%;
    }
    
        .big-image {
            width:  400px;
            height: 300px;
        }
    
            
            .big-image {
                width:  270px;
                height: 150px;}
            .small-image {
                    width:  270px;
                    height: 150px;
            }

            #cool-line-zero{
                font-size: .5rem;
                width: fit-content;
                top: 60%;
                left: -6%;
                
            }
            
            #cool-line{
                font-size: .5rem;
                width: fit-content;
                top: 60%;
                left: -6%;
                
            }

    
        .contact-me a{
            font-size: .5rem;
        }    
         
        }


 /*with a lot of pain and sweat (because we're in a heatwave in mexico) it seems like the page is actually responsive*/       